.top-left {
  position: absolute; 
  top: 20px;
  left: 20px;
}

body {
  margin: 0;
  padding: 2rem;
  height: 100vh;

  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  text-align: center;
}

